select.resultado, select.resultado2{
    width: 100%;
    margin-top: 10px;
    border: 2px solid #606060;
    border-radius: 5px;
    outline: none;
}
table.pendencias{
    border: 2px solid #606060;
}
