body{
	margin: 0;
	font-family: Arial, sans-serif;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
	width: 4px;
	height: 25px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
	background: green;
	box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-corner{
	height: 50px;
}

/* Cabeçalho do Site*/

	header.cabecalho{
		position: relative;
		margin: 0;
		width: 100%;
		background-color: green;
		float: left;
	}
	div#logo{
		position: relative;
		display: block;
		width: 125px;
		float: left;
	}
	div#logo img{
		position: relative;
		width: 100%;
	}
	div#titulo{
		position: relative;
		display: block;
		width: 70%;
		float: left;
		text-align: center;
	}
	div#titulo h2{
		word-wrap: none;
		font-size: 2.5vw;
		color: white;
	}

/*Menu e Links*/

	nav.menu{
		position: relative;
		width: 20%;
		display: block;
		float: left;
	}
	ul#links{
		position: relative;
		list-style-type: none;
		display: block;
		margin: 0;
		width: 80%;
		margin-left: -5%;
		margin-top: 5%;
	}
	ul#links li{
		border: 1px solid #606060;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	a.linkMenu{
		text-decoration: none;
		color: black;
	}
	a.linkMenu:hover{
		color: white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
	}
	button.linkBtEx{
		background-color: tomato;
		border: tomato solid 3px;
		color: blanchedalmond;
		cursor: pointer;
	}
	button.linkBt{
		background-color: darkcyan;
		border: darkcyan solid 3px;
		color: blanchedalmond;
		cursor: pointer;
	}

/* Conteudo e Formulários */

	img#subir{
		position: fixed;
		left: 1%;
		bottom: 1%;
		width: 4%;
	}
	main.conteudo{
		position: relative;
		width: 75%;
		display: block;
		float: right;
		padding-bottom: 5%;
	}
	form{
		position: relative;
		width: 100%;
	}
	div.formulario{
		position: relative;
		margin: 0;
	}
	div#todo{
		position: relative;
		width: 100%;
	}
	div.bloco{
		position: relative;
		width: 50%;
		display: inline-block;
	}
	table.formulario{
		width: 50%;
	}
	table.formulario th{
		padding-top: 5%;
	}
	table.formulario td{
		padding-top: 2%;
	} 
	input.field{
		position: relative;
		outline: none;
		width: 100%;
		border: 2px solid #606060;
		border-radius: 5px;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	select.field{
		position: relative;
		outline: none;
		width: 100%;
		border: 2px solid #606060;
		border-radius: 5px;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	textarea.field{
		position: relative;
		outline: none;
		width: 100%;
		height: 70px;
		border: 2px solid #606060;
		border-radius: 5px;
		resize: none;
	}
	input.field:focus{
		border: 2px solid rgb(247, 122, 6);
	}
	select.field:focus{
		border: 2px solid rgb(247, 122, 6);
	}
	textarea.field:focus{
		border: 2px solid rgb(247, 122, 6);
	}
	input.enter{
		position: relative;
		outline: none;
		border: 5px solid #202020;
		border-radius: 10px;
		width: 80%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		font-weight: bold;
		font-size: 1;
		color: aliceblue;
		background-color: green;
		cursor: pointer;
	}
	input.enter:hover{
		background-color: rgb(247, 122, 6);
	}
	input.file{
		display: none;
	}
	label.file{
		display: block;
		position: relative;
		background-color: green;
		color: #ffffff;
		cursor: pointer;
		padding: 5px;
		border-radius: 5px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
		text-align: center;
	}
	label.file:hover{
		transition: .1s;
		background-color: rgb(247, 122, 6);
	}
	

	
/* Rodapé do Site*/

	footer.rodape{
		position: relative;
		background-color: crimson;
		clear: both;
	}
