/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


body{
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
	width: 4px;
	height: 25px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
	background: green;
	box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Cabeçalho do Site*/

	header.cabecalho{
		position: relative;
		margin: 0;
		width: 100%;
		background-color: green;
		float: left;
	}
	div#logo{
		position: relative;
		display: block;
		width: 110px;
		float: left;
	}
	div#logo img{
		position: relative;
		width: 100%;
	}

/*Menu e Links*/

	nav.menu{
		position: relative;
		width: 20%;
		display: block;
		float: left;
	}
	ul#links{
		position: relative;
		list-style-type: none;
		display: block;
		margin: 0;
		width: 80%;
		margin-left: -30px;
		margin-top: 5%;
	}
	ul#links li{
	
		text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: #2F362E;
		color: #949993;
	}
	a.linkMenu{
		text-decoration: none;
	}
	a.emplink{
		text-decoration: none;
		color: inherit;
	}
	ul#links li:hover{
		transition: .2s;
		color: rgb(224, 211, 211);
		background-color: rgb(99, 104, 99);
	}

/* Conteudo e Formulários */

	main.conteudo{
		position: relative;
		width: 79.5%;
		display: block;
		float: left;
		padding-bottom: 5%;
	}
	p.txtIntro{
		text-align: justify;
	}
	img#subir{
		position: fixed;
		left: 1%;
		bottom: 1%;
		width: 40px;
		transition: .2s;
	}
	img#subir:hover{
		transition: .2s;
		transform: scale(1.2);
	}
	span#icone{
		display: block;
		float: left;
	}
	img.icone{
		width: 30px;
		margin: 0;
		transition: .2s;
		cursor: pointer;
	}
	img.icone:hover{
		transition: .2s;
		transform: scale(1.2);
	}
	form{
		position: relative;
		width: 100%;
	}
	div.formulario{
		position: relative;
		margin: 0;
	}
	div#todo{
		position: relative;
		width: 100%;
	}
	div.bloco{
		position: relative;
		width: 50%;
		display: inline-block;
	}
	div.blocoind{
		position: relative;
		width: 60%;
		display: block;
	}
	div.blocoTodo{
		position: relative;
		width: 100%;
		display: block;
	}
	table.formulario{
		width: 50%;
	}
	table.formulario th{
		padding-top: 5%;
	}
	table.formulario td{
		padding-top: 2%;
	} 
	input.field{
		font-family: 'Titillium Web', sans-serif;
		position: relative;
		outline: none;
		width: 100%;
		border: 2px solid #606060;
		border-radius: 5px;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	select.field{
		font-family: 'Titillium Web', sans-serif;
		position: relative;
		outline: none;
		width: 100%;
		border: 2px solid #606060;
		border-radius: 5px;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	select.field option{
    	background-color: #F4F4F4;
		color: #202020;
	}
	textarea.field{
		font-family: 'Titillium Web', sans-serif;
		position: relative;
		outline: none;
		width: 100%;
		height: 70px;
		border: 2px solid #606060;
		border-radius: 5px;
		resize: none;
	}
	input.field:focus{
		border: 2px solid rgb(247, 122, 6);
	}
	select.field:focus{
		border: 2px solid rgb(247, 122, 6);
	}
	textarea.field:focus{
		border: 2px solid rgb(247, 122, 6);
	}
	input.enter{
		font-family: 'Titillium Web', sans-serif;
		position: relative;
		outline: none;
		border: 3px solid #202020;
		border-radius: 10px;
		width: 80%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		font-size: 1.1vw;
		color: aliceblue;
		background-color: green;
		cursor: pointer;
		transition: .2s;
	}
	input.enter:hover{
		transition: .2s;
		background-color: rgb(247, 122, 6);
	}
	input.enter:focus{
		background-color: rgb(247, 122, 6);
	}
	input.file{
		display: none;
	}
	label.file{
		display: block;
		position: relative;
		background-color: green;
		color: #ffffff;
		cursor: pointer;
		padding: 5px;
		border-radius: 5px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
		text-align: center;
		transition: .2s;
	}
	label.file:hover{
		transition: .2s;
		background-color: rgb(247, 122, 6);
	}
	

	
/* Rodapé do Site*/

	footer.rodape{
		position: relative;
		background-color: crimson;
		clear: both;
	}
