div#lista{
	position: relative;
	margin: 0;
}
table.lista{
	position: relative;
	border: 2px solid #606060;
	width: 100%;
	margin-top: 5%;
}
table.lista tr td{
	text-align: center;
}
td.livro{
	position: relative;
	width: 100px;

}
img.livro{
	position: relative;
	width: 100%;
}
table.visualizar{
	text-align: center;
}

#divBusca{
	background-color: white;
	border: solid 2px green;
	border-radius: 10px;
	width: 300px;
	height: 32px;
}
#txtBusca{
	background-color: transparent;
	padding-left: 5px; 
	font-size: 1.2vw;
	border: none;
	height: 32px;
	width: 191px;
	outline: none;
}
#btnBusca{
	border: none;
	float: right;
	height: 32px;
	border-radius: 0 7px 7px 0;
	width: 70px;
	font-weight: bold;
	background: green;
	color: white;
}