table.pendencias{
    border: 1px solid #606060;
    border-spacing: 0px;
}
table.pendencias th{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border: 1px solid #606060;
}
table.pendencias td{
    border: 1px solid #606060;
    padding-left: 10px;
    padding-right: 10px;
}
td.verde{
    border: 1px solid #606060;
    padding: 5px;
    background-color: #09C909;
    color: #D6F1D6;
}
td.amarelo{
    border: 1px solid #606060;
    padding: 5px;
    background-color: #FFF30B;
    color: #393600;
}
td.vermelho{
    border: 1px solid #606060;
    padding: 5px;
    background-color: #FF370B;
    color: #FFD9D1;
}
td.azul{
    border: 1px solid #606060;
    padding: 5px;
    background-color: #138CCD;
    color: #D9E4DA;
}

div#scroll{
    position: relative;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    display: block;
    float: left;
    background-color: teal;
}

a.A, a.B, a.C, a.D, a.P{
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    border: 2px solid #808080;
    text-align: center;
    margin: 0px;
    padding: 5px;
    color: black;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: .2s;
}
a.A:hover, a.B:hover, a.C:hover, a.D:hover, a.P:hover{
    transition: .2s;
    background-color: rgb(247, 122, 6);
    color: #DEEED0;
}
a.A{
    background-color: #0073e6;
    color: #000000;
}
a.B{
    background-color: #59C400;
    color: #e8f3de;
}
a.C{
    background-color: #FFF30B;
    color: #474300;
}
a.D{
    background-color: #0891db;
    color: #DFE1D7;
}
a.P{
    background-color: #4A4E48;
    color: #DDD3D2;
    margin-top: 20px;
}
